EXPO_PUBLIC_ENV_CODE=development
EXPO_PUBLIC_ENV_API_URL=https://cukkr-backend-dev.fire.my.id
EXPO_PUBLIC_ENV_AUTH_URL=https://cukkr-backend-dev.fire.my.id/auth/api

EXPO_PUBLIC_WEB_URL=https://cukkr.com